<div class="container">
  <div class="row">
    <div class="col-6 ">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Select Bill To</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <form class="px-4 py-3">
              <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck0">
                  <label class="form-check-label" for="dropdownCheck0">
                    All
                  </label>
                </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
                Test 1
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck1">
              <label class="form-check-label" for="dropdownCheck1">
                Test 2
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck2">
              <label class="form-check-label" for="dropdownCheck2">
                Test 3
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck3">
              <label class="form-check-label" for="dropdownCheck3">
                Test 4
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group clearfix">
        <input type="text" class="form-control" placeholder="Search ...">
      </div>
    </div>
  </div>




  <ul class="row">
    <li class="col-4">
      <a routerLink="/single-order">
        <p>Bill To: Test</p>
        <p>Order: 2345</p>
        <p>Contain: Test</p>
      </a>
    </li>
    <li class="col-4">
      <a routerLink="/single-order">
        <p>Bill To: Test</p>
        <p>Order: 2345</p>
        <p>Contain: Test</p>
      </a>
    </li>
    <li class="col-4">
      <a routerLink="/single-order">
        <p>Bill To: Test</p>
        <p>Order: 2345</p>
        <p>Contain: Test</p>
      </a>
    </li>
    <li class="col-4">
      <a routerLink="/single-order">
        <p>Bill To: Test</p>
        <p>Order: 2345</p>
        <p>Contain: Test</p>
      </a>
    </li>
    <li class="col-4">
      <a routerLink="/single-order">
        <p>Bill To: Test</p>
        <p>Order: 2345</p>
        <p>Contain: Test</p>
      </a>
    </li>
    <li class="col-4">
      <a routerLink="/single-order">
        <p>Bill To: Test</p>
        <p>Order: 2345</p>
        <p>Contain: Test</p>
      </a>
    </li>
    <li class="col-4">
      <a routerLink="/single-order">
        <p>Bill To: Test</p>
        <p>Order: 2345</p>
        <p>Contain: Test</p>
      </a>
    </li>
    <li class="col-4">
      <a routerLink="/single-order">
        <p>Bill To: Test</p>
        <p>Order: 2345</p>
        <p>Contain: Test</p>
      </a>
    </li>
    <li class="col-4">
      <a routerLink="/single-order">
        <p>Bill To: Test</p>
        <p>Order: 2345</p>
        <p>Contain: Test</p>
      </a>
    </li>
  </ul>
</div>