<section class="invoice container">
    <!-- title row -->
    <!-- info row -->
    <div class="row invoice-info">
      
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
       Bill To
        <address>
          <strong>John Doe</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          Phone: (555) 539-1037<br>
          Email: john.doe@example.com
        </address>
      </div>
      <div class="col-sm-4">
        </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>Invoice #007612</b><br>
        <br>
        <b>Order ID:</b> 4F3S8J<br>
        <b>Payment Due:</b> 2/22/2014<br>
        <b>Account:</b> 968-34567
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Sno.</th>
            <th scope="col">Description</th>
            <th scope="col">Total Price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let list of lists; index as i">
            <td>{{ list.sno }}</td>
            <td>
              Order Number: {{ list.orderno }}
              <tr *ngFor="let dec of list.desc; index as i">
                <td>{{ dec.container }}</td>
                <td>${{ dec.price }}</td>
              </tr>
            </td>
            <td>${{ list.price }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-6"></div>
      <!-- /.col -->
      <div class="col-6">
        <p class="lead">Amount Due 2/22/2014</p>

        <div class="table-responsive">
          <table class="table">
            <tbody><tr>
              <th style="width:50%">Subtotal:</th>
              <td>$250.30</td>
            </tr>
            <tr>
              <th>Tax (9.3%)</th>
              <td>$10.34</td>
            </tr>
            <tr>
              <th>Shipping:</th>
              <td>$5.80</td>
            </tr>
            <tr>
              <th>Total:</th>
              <td>$265.24</td>
            </tr>
          </tbody></table>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row mb-5">
      <div class="col-12 text-right">
        <button class="btn btn-primary">Save</button>
        <button class="btn btn-primary ml-2">Save & Print</button>
      </div>
    </div>
  </section>